<a href="https://colab.research.google.com/github/hsallrounder/Neural-Networks-Lab/blob/main/Practical_Lab_Exam_03_05_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Heart Disease Prediction Using Back Propagation

In [41]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [43]:
X = df.drop('target', axis = 1)
Y = df['target']

In [44]:
from sklearn.preprocessing import StandardScaler
mms = StandardScaler()
X = pd.DataFrame(mms.fit_transform(X),columns=["age","sex","cp","trestbps","chol","fbs","restecg","thalach","exang","oldpeak","slope","ca","thal"])

In [45]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,-0.268437,0.661504,-0.915755,-0.377636,-0.659332,-0.418878,0.891255,0.821321,-0.712287,-0.060888,0.995433,1.209221,1.089852
1,-0.158157,0.661504,-0.915755,0.479107,-0.833861,2.387330,-1.004049,0.255968,1.403928,1.727137,-2.243675,-0.731971,1.089852
2,1.716595,0.661504,-0.915755,0.764688,-1.396233,-0.418878,0.891255,-1.048692,1.403928,1.301417,-2.243675,-0.731971,1.089852
3,0.724079,0.661504,-0.915755,0.936037,-0.833861,-0.418878,0.891255,0.516900,-0.712287,-0.912329,0.995433,0.238625,1.089852
4,0.834359,-1.511706,-0.915755,0.364875,0.930822,2.387330,0.891255,-1.874977,-0.712287,0.705408,-0.624121,2.179817,-0.522122

In [46]:
class NeuralNetwork:
    def __init__(self, input_size, hidden_sizes, output_size):
        sizes = [input_size] + hidden_sizes + [output_size]
        self.weights = [np.random.randn(sizes[i], sizes[i+1]) for i in range(len(sizes)-1)]

    def sigmoid(self, x):
        return 1 / (1 + np.exp(-x))

    def sigmoid_derivative(self, x):
        return x * (1 - x)

    def feed_forward(self, X):
        self.layers = [X]
        for i in range(len(self.weights)):
            layer = self.sigmoid(np.dot(self.layers[-1], self.weights[i]))
            self.layers.append(layer)
        return self.layers[-1]

    def back_propagation(self, X, y, learning_rate):
        output_error = y - self.layers[-1]
        output_delta = output_error * self.sigmoid_derivative(self.layers[-1])

        deltas = [output_delta]
        for i in range(len(self.weights)-1, 0, -1):
            hidden_error = np.dot(deltas[-1], self.weights[i].T)
            hidden_delta = hidden_error * self.sigmoid_derivative(self.layers[i])
            deltas.append(hidden_delta)
        deltas.reverse()

        for i in range(len(self.weights)):
            self.weights[i] += learning_rate * np.dot(self.layers[i].T, deltas[i])

    def train(self, X, y, learning_rate, epochs):
        # print('Initial Weights',self.weights)
        for i in range(epochs):
            self.feed_forward(X)
            self.back_propagation(X, y, learning_rate)
        # print('Final Weights',self.weights)

    def predict(self, X):
        result = np.round(self.feed_forward(X)).astype(int)
        return result

In [47]:
print(X.shape)
print(Y.shape)

(1025, 13)
(1025,)

In [48]:
X_arr = np.array(X)
y_arr = np.array(Y).reshape(-1, 1)

# Create a neural network with X.shape[1] input nodes, 1 hidden layer of X.shape[1]/2 nodes , and 1 output node
nn = NeuralNetwork(X.shape[1], [int(X.shape[1]/2)], 1)

# Train the neural network for l_r=0.5 and 20 epochs
nn.train(X_arr, y_arr, 0.1, 20)

# Make predictions on the input data
predictions = nn.predict(X)
y_pred = pd.DataFrame(predictions)
y_pred = y_pred[0]

In [49]:
y_pred

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: 0, Length: 1025, dtype: int64

In [50]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_arr, y_pred))

0.8907317073170732

# Implement And Logic through Mc-Culloch NN for user dependent Threshold Value

In [51]:
from itertools import product

def and_func(theta):
  x1=np.array([0,0,1,1])
  x2=np.array([0,1,0,1])
  y=np.array([0,0,0,1])
  weights=[ele for ele in product(range(-10,11), repeat = 2)]
  for w in weights:
    w1=w[0]
    w2=w[1]
    f=x1*w1+x2*w2
    y_pred=(f>=theta).astype(int)
    if np.all(y==y_pred):
      print('Final Weights:')
      print('w1 =',w1)
      print('w2 =',w2)
      break

In [52]:
theta = int(input("Enter threshold value: "))
and_func(theta)
theta = int(input("Enter threshold value: "))
and_func(theta)
theta = int(input("Enter threshold value: "))
and_func(theta)

Enter threshold value: 4
Final Weights:
w1 = 1
w2 = 3
Enter threshold value: 2
Final Weights:
w1 = 1
w2 = 1
Enter threshold value: 3
Final Weights:
w1 = 1
w2 = 2